

form {
    border: 1px solid rgba(0, 0, 0, 0);
}


.btn-login {
    border: 0;
    animation: AnimateButton 5s ease infinite;
    background: linear-gradient(270deg, $dark-green, $dark-blue);
    background-size: 150% 150%;
    color: white;
    opacity: 0.7;
    transition: all ease-in-out .3s;

    &:hover {
        opacity: 1;
        color: white;
    }
}

.form-control {
    border-width: 1px;
    transition: all ease-in-out 0.2s;
    border-top: 1px rgba(0,0,0,0);
    border-left: 1px rgba(0,0,0,0);
    border-right: 1px rgba(0,0,0,0);

    &:not(:invalid,:valid) {
        border-image-source: linear-gradient(to right, $dark-green, $dark-blue);
        border-image-slice: 1;
    }
}
