.global-toast-container {
    position: fixed;
    top: 40px;
    right: 40px;
    z-index: 99;
    flex-direction: column;
    display: flex;
    align-items: end;

    .toast-notification {
        width: auto;
        z-index: 999;
        display: block;
        transition: all ease-in-out 0.5s;
    }
}
